<div data-role="view" id="aboutusView" data-layout="main" >
    <div class="content">
        <div data-role="navbar" class="nvbar">

            <a data-role="button" data-align="left" data-rel="drawer" href="#drawerList" class="menu"></a>

            <a data-role="button" data-align="right" data-badge="2" class="cart"dataclick="app.shopService.viewModel.moveToCart"></a>

            <div class="wrapper">

                <div class="header">
                    <p>
                        ABOUT US
                    </p>
                </div>
            </div>

        </div>
        <div class="imagelogo">
            <p>
                <img src="style/images/gallery_img1.png" style="width:100%"/>
            </p>

        </div>
        <div class="title">
            <p>
                Mission Statement/About Us
            </p>
        </div>
        <div class="comment">
            <p>
                We combine industry expertise with innovative technology to deliver critical information to leading decision makers in the financial and risk, legal, tax and accounting, intellectual property and science and media markets, powered by the world's most trusted news organization.
            </p>

        </div>
        <div class="holiday">
            <p class="hours">Hours Of Operation</p>
            <p class="schedule">
           Sunday 10:00am-4:00pm<br><br>
                
           Monday 09:00am-8:00pm<br><br>
                
           Tuesday 08:00am-7:00pm<br><br>
                
           Wednesday 08:30am-7:30pm<br><br>
                
           Thurday 09:00am-8:00am<br><br>
                
           Friday 09:00am-8:00am<br><br>
                
           Saturday 09:00am-8:00am<br><br>
            </p>
        </div>

    </div>
</div>
        