<div data-role="view" id="billingView" data-title='Billing Info' data-model="app.billingService.viewModel" data-show="app.billingService.viewModel.show" data-use-native-scrolling="true">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
			<a data-role="backbutton" data-align="left" class="back"></a>
            <strong><span data-role="view-title"></span></strong>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
            <!-- <div class="header">
                <p>
                    Billing Info
                </p>
            </div>  -->
            <div class="conFldDv">
                <div class="fldDv">
                    <p>
                        <input type="text" name="bill_fname" data-bind="value:bill_fname" class="txtFld" placeholder="First Name"/>
                    </p>
                </div>
                <div class="fldDv">
                    <p>
                        <input type="text" name="bill_lname" data-bind="value:bill_lname" class="txtFld" placeholder="Last Name"/>
                    </p>
                </div>
                <div class="fldDv">
                    <p>
                        <input type="text" name="bill_address" id="bill_address" class="txtFld" placeholder="Street Address"/>
                    </p>
                </div>
                <div class="fldDv mixdrop">
                    <div class="city_FldDV">
                        <p>
                            <input type="text" name="bill_city" id="bill_city" class="txtFld" placeholder="City"/>
                        </p>
                    </div>
                    <div class="state_FldDv">
                        <p>
                            <select class="dropdown">
                                <option>State</option>
                                <option>Maharashtra</option>
                                <option>Tamil Nadu</option>
                                <option>Delhi</option>>
                            </select>
                        </p>
                    </div>
                </div>
                <div class="fldDv">
                    <p>
                        <input type="number" name="bill_zipcode" id="bill_zipcode" class="txtFld" placeholder="Zipcode" />
                    </p>
                </div>
                <div class="fldDv">
                    <p>
                        <input type="number" name="bill_phone" id="bill_phone" class="txtFld" placeholder="Phone"/>
                    </p>
                </div>
                <div class="fldDv">
                    <p>
                        <input type="text" name="bill_email" id="bill_email" class="txtFld" placeholder="Email Address"/>
                    </p>
                </div>
            </div>
            <div class="subDv">
                <p>
                    <a data-role="button" data-bind='click:submitCheckout'>CHECK OUT</a>
                </p>
            </div>
        </div>
    </div>
</div>