<div data-role="view" id="billingInfoView" data-layout="main">
<div data-role="content" style="overflow: hidden;background:url('style/images/bg.png');background-size: 100% 100%;">
   <div class="wrapper">
       <div class="header">
           <p>
               Billing Info
           </p>
       </div>
       <div class="logfname">
           <div class="textdiv">
               <p>
                   <input type="text" name="fname" id="fname" class="txtfld" placeholder="First Name">
               </p>
           </div>
           
       </div>
      <div class="loglname">
           <div class="textdiv">
               <p>
                   <input type="text" name="lname" id="lname" class="txtfld" placeholder="Last Name">
               </p>
           </div>
           
       </div>
        <div class="logstreet">
           <div class="textdiv">
               <p>
                   <input type="text" name="lname" id="lname" class="txtfld" placeholder="Street Address">
               </p>
           </div>
           
       </div>
         <div class="mixdrop">
            
                    <div class="city_FldDV">
                       <p>
                            <input type="text" name="bill_city" id="bill_city" class="txtFld" placeholder="City"/>
                      </p>
                     
                    </div>
                    <div class="state_Fld">
                               <p>
                            <select class="dropdown">
                                <option>State</option>
                                <option>Maharashtra</option>
                                <option>Tamil Nadu</option>
                                <option>Delhi</option>>
                            </select>
                               </p>
                    </div>
                </div>
       <div class="logZipcode">
           <div class ="textdiv">
               <p>
                   <input type="number" name="zipcode" class="txtfld" placeholder="Zipcode">
               </p>
           </div>
       </div>
       <div class="logphone">
           <div class="textdiv">
               <p>
                   <input type="number" name="phone" class="txtfld" placeholder="Phone">
               </p>
           </div>
       </div>
       <div class="logemail">
           <div class="textdiv">
               <p>
                   <input type="email" name="email" class="txtfld" placeholder="Email Address">
               </p>
           </div>
       </div>
       <div class="logcheck">
           <p>
           <a data-role="button" id="checkin">Check Out</a>
               </p>
       </div>
   </div> 
</div>
    
</div>
   