<div data-role="view" id="clonesView" data-title="CLONES"  data-use-native-scrolling="true" data-model="app.cloneService.viewModel" data-show="app.cloneService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <!-- <a data-role="backbutton" data-align="left" class="back"></a>-->
            <a data-role="button" data-align="left" data-rel="drawer" href="#drawerList" class="menu"></a>
            <span data-role="view-title"></span>
            <!-- <a data-role="button" data-align="right" data-badge="2" class="cart" data-click="app.shopService.viewModel.moveToCart"></a> -->
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
            <ul id="cloneListData" ></ul>
            <!-- <ul id="cloneListData" data-role="listview" data-template="cloneListView" data-bind="source:cloneListSource"></ul> -->
            
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="cloneListView">
    <div class="main">
        <div class="dv1">
            <p>
                <a data-role="button" data-click="openModalView" style='padding:0;border:0;'><img src="#:data['prodImg']#"/></a>
            </p>
        </div>
        <div class="blankDv">
            <p>
                &nbsp;&nbsp;
            </p>
        </div>
        <div class="dv2">
            <div class="dv21">
                <p>
                    #:data['title']#
                </p>
            </div>
            <div class="dv22">
                <p>
                    #:data['desc']#
                </p>
            </div>
            <div class="dv23" >
                <div class="dv231">
                    <p>
                        <!--#:data['price']#-->
                    </p>
                </div>
            </div>
        </div>
    </div>
</script>


<!--Modal View for forgot password-->
<div data-role="modalview" id="resizeImageViewclone" style="width:90%;" data-use-native-scrolling="true" data-model="app.galleryService.viewModel" data-show="app.galleryService.viewModel.showBigImage">
    <div data-role="header">
        <div data-role="navbar" style="background:#23A505 !important;color: #fff;border: none;" >
            <a data-role="button" class="modal-close" data-click="cancelModalView" data-align="left" style="font-size: 22px; line-height: 10px;" >
                X
            </a>
        </div>
    </div>
    <div data-role="content" id="maincontent" style='height:280px;'>
        <img src="style/slideImage/gallery_img1.png" class="bigImageShowclone" style="width:100%;height:240px"/>
        <!-- <p class="btnpar">
            <a data-role="button" data-click="cancelModalView">OK</a>
        </p> -->
    </div>
</div>

<script>
    
    $( "body" ).delegate( "#clonesView .dv1","click", function(e) {
        //console.log($(this).children().find('img').attr('src'));
        $(".bigImageShowclone").attr('src', $(this).children().find('img').attr('src'));
        
        $("#resizeImageViewclone").kendoMobileModalView("open");
    });

    /*
    function openModalView(e) {
        console.log(e);
        $("#resizeImageViewclone").kendoMobileModalView("open");
    }*/
    
    function cancelModalView() {
        $("#resizeImageViewclone").kendoMobileModalView("close");
    }
</script>