<div data-role="view" id="contactView" data-layout="main" >
<div data-role="content" style="background: url(style/images/bg.png);background-size:100% 100%">
    <div data-role="navbar" class="nvbar">
        <p>
           <a data-role="button" data-align="left" data-rel="drawer" href="#drawerList" class="menu"></a>
                
        <a data-role="button" data-align="right" data-badge="2" class="cart"></a>
           
        </p>
    </div>
    <div class="wrapper">
        <div class="header">
        <p>
            Contact Us
        </p>
    </div>
        
            <div class="logname">
                <div class="txtfldiv">
                    <p>
                        <input type="text" name="name" data-bind="value:lastname" class="txtfld" id="name" placeholder="Name">

                    </p>
                </div>
            </div>
           <div class="lognumber">
                <div class="txtfldiv">
                    <p>
                        <input type="number" name="phonenumber" id="phonenumber" data-bind="value:mobilenumber" class="txtfld" maxlength="10" placeholder="Phone Number"/>

                    </p>
                </div>
            </div>
            <div class="logemail">
                <div class="txtfldiv">
                    <p>
                        <input type="email" name="email" data-bind="value:emailid" class="txtfld" id="emailc" placeholder="Email Address";>
                    </p>
                </div>
            </div>
            <div class="logsubject">
                <div class="txtfldiv">
                    <p>
                        <input type="text" name="subject" data-bind="value:uploadphoto" class="txtfld" id="subject" placeholder="Subject";>
                    </p>
                </div>
            </div>
        <div class="logmessage">
                <div class="txtfldiv">
                    <p>
                        <input type="text" name="message" data-bind="value:uploadphoto" class="txtfld" id="message" placeholder="Message";>
                    </p>
                </div>
            </div>
          <div class="logSub">

                <p>

                    <a data-role="button" id="signin" class="contactsaved">SUBMIT</a>

                </p>
                
            </div>
    </div>
</div>
    
</div>