<div data-role="view" id="galleryView" data-title="GALLERY" data-use-native-scrolling="true" data-model="app.galleryService.viewModel" data-show="app.galleryService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" data-rel="drawer" href="#drawerList" class="menu"></a>
            <span data-role="view-title"></span>
            <!-- <a data-role="button" data-align="right" data-badge="2" class="cart" data-click="app.shopService.viewModel.moveToCart"></a> -->
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
            
            <div class="headerTab">
                <div id="galleryTab1" class="tab1">
                    <p>
                        Bud Room
                    </p>
                </div>
                <div id="galleryTab2" class="tab2">
                    <p>
                        Dab Lounge
                    </p>
                </div>
                <div id="galleryTab3" class="tab3">
                    <p>
                        Cannibal's
                    </p>
                </div>
            </div>
            
            <div class="tab1View">
                <ul id="tab1ListData" data-role="listview" data-template="tab1ListView" data-bind="source:tab1ListSource"></ul>
            </div>
            <div class="tab2View">
               <ul id="tab2ListData" data-role="listview" data-template="tab2ListView" data-bind="source:tab2ListSource"></ul>
            </div>
            <div class="tab3View">
               <ul id="tab3ListData" data-role="listview" data-template="tab3ListView" data-bind="source:tab3ListSource"></ul>
            </div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="tab1ListView">
    <div class="main">
        <a href="\\#resizeImages" data-rel="modalview" data-click="openModal">
            <img src="#:data['img_url']#" style="width:100%;height:100%"/>
        </a>
    </div>
</script>

<script type="text/x-kendo-template" id="tab2ListView">
    <div class="main">
        <img src="#:data['img_url']#" style="width:100%;height:100%"/>
    </div>
</script>

<script type="text/x-kendo-template" id="tab3ListView">
    <div class="main">
        <img src="#:data['img_url']#" style="width:100%;height:100%"/>
    </div>
</script>


<!--Modal View for forgot password-->
<div data-role="modalview" id="resizeImageView" style="width:90%;" data-use-native-scrolling="true" data-model="app.galleryService.viewModel" data-show="app.galleryService.viewModel.showBigImage">
    <div data-role="header">
        <div data-role="navbar" style="background:#23A505 !important;color: #fff;border: none;" >
            <a data-role="button" class="modal-close" data-click="cancelModalView" data-align="left" style="font-size: 22px; line-height: 10px;" >
                X
            </a>
        </div>
    </div>
    <div data-role="content" id="maincontent" style='height:280px;'>
        <img src="style/slideImage/gallery_img1.png" class="bigImageShow" style="width:100%;height:240px"/>
        <!-- <p class="btnpar">
            <a data-role="button" data-click="cancelModalView">OK</a>
        </p> -->
    </div>
</div>

<script>
    
    $( "body" ).delegate( "#galleryView .main","click", function(e) {
        //console.log('kkkkkkkkk');
        //var imgsrc = $(this).children().find('img').attr('src');
        $(".bigImageShow").attr('src', $(this).children().find('img').attr('src'));
        
        $("#resizeImageView").kendoMobileModalView("open");
    });

    /*
    function openModalView(e) {
        console.log(e);
        $("#resizeImageView").kendoMobileModalView("open");
    }*/
    
    function cancelModalView() {
        $("#resizeImageView").kendoMobileModalView("close");
    }
</script>