<div data-role="view" id="loginView" data-use-native-scrolling="true">
    <div data-role="content">
        <div class="wrapper">
            <div class="logoPrt">
                <p>
                   <img src="style/IOS/logo720.png"/>
                </p>
            </div>
            <div class="contFldPrt">
                <form id="loginForm" data-bind="events: { keyup: checkEnter }">
                    <div class="logmail">
                        <div class="txticon">
                            <img src="style/newImage/message.png"/>
                        </div>
                        <div class="txtfldDv">
                            <p>
                                <input type="text" name="log_email" data-bind="value:log_email" class="txtFld" id="log_email" placeholder="Username / Email" autocapitalize="none" autocorrect="off" />
                            </p>
                        </div>
                    </div>
                    <div class="logpwd">
                        <div class="txticon">
                            <img src="style/newImage/lock.png"/>
                        </div>
                        <div class="txtfldDv">
                            <p>
                                <input type="password" name="log_pwd" data-bind="value:log_pwd" class="txtFld" id="log_pwd" placeholder="Password" autocapitalize="none" autocorrect="off"/>
                            </p>
                        </div>
                    </div>
                    <div class="logSub">
                        <p>
                            <a data-role="button" id="signin" class="signin">SIGN IN</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer" data-role="footer">
       <div class="footerLeft" >
           <p>
               <a data-role="button">Forgot Password?</a>
           </p>
       </div>
        <div class="footerRight" style="background:#1A530C;">
           <p>
               <a data-role="button" id="newaccount">Create New Account</a>
           </p>
        </div>
    </div>
</div>
