<div data-role="view" id="myCart" data-title="SHOPPING CART"  data-use-native-scrolling="true" data-model="app.cartService.viewModel" data-show="app.cartService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" data-rel="drawer" href="#drawerList" class="menu"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" data-badge="0" class="cart" ></a>
        </div>
    </div>
    <div data-role="content">
        <div id="cartListData" class="wrapper">
            <ul id="cartListData" data-role="listview" data-template="cartListView" data-bind="source:cartListSource"></ul>
            
        </div>
        <div style="width:100%;" id="total">
            
        </div>
    </div>
    <!--<div class="footer" data-role="footer">
        <p>
            <a data-role="button" id="addcart" data-bind="click:checkoutSubmit">CHECKOUT</a>
        </p>
    </div>-->
    
    <div class="footer" data-role="footer">
       <div class="footerLeft" >
           <p>
               <a data-role="button">Update Cart</a>
           </p>
       </div>
        <div class="footerRight" >
           <p>
               <a data-role="button" id="newaccount" data-bind="click:checkoutSubmit">Checkout</a>
           </p>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="cartListView">
<div class="main" id="mainContentDv4#:data['id']#" data-id='#:data['id']#'>
	<div class="dv1">
		<p>
        #if(!prodImg){#
            <img class='2' src="style/images/390/img1.png">
        #}else{#
            <img class='1' src="#:data['prodImg']#">
        #}#
        </p>
		</div>
		<div class="dv2">
		<div class="dv21">
			<p>#:data['title']#</p>
		</div>
		<div class="dv22">
			<p>Sed ut perspiciatis unde omnis iste natus.</p>
		</div>
		<div class="dv23">
			<div class="dv230">
				<p>$ <span class="itemPrice">#:data['price']#</span></p>
			</div>
			<div class="dv231">
				<img class="minus" data-id='#:data['id']#' src="style/images/390/green_minus.png">
			</div>
			<div class="dv232" id="qunatDv">
				<input tyep="text" id="quantity" class="thisqunty" value="#:data['noofItem']#" style="background-color:\\#fff;" disabled="false">
                <!-- <input type="hidden" id="thisvlue" class="thisvlue" value="#:data['price']#"/> -->
			</div>
			<div class="dv233">
				<img class="add" data-id='#:data['id']#' src="style/images/390/green_plus.png">
			</div>
		</div>
	</div>
	<div class="dv3">
		<p>
			<img class="cross" data-id='#:data['id']#' src="style/images/390/cross_icon.png">
		</p>
	</div>
</div>
</script>