<div data-role="view" id="profileView" data-title="MY ACCOUNT" data-use-native-scrolling="true" data-model="app.accountService.viewModel" data-show="app.accountService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="backbutton" data-align="left" class="back"></a>
            <a data-role="button" data-align="left" data-rel="drawer" href="#drawerList" class="menu"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" data-badge="2" class="cart" data-click="app.shopService.viewModel.moveToCart"></a>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
            <div class="profile_pic">
                <p>
                    <img src="style/IOS/photo_icon.png"/>
                </p>
            </div>
            <div class="addressDV">
                <p class="add0">
                    Robert Wade
                </p>
                <p class="add1">
                   <!-- <img src="style/images/390/phone_ico.png"/>
                    <span>(661) 393-9333</span>-->
                    <a data-role="button">(661) 393-9333</a>
                </p>
                <p class="add2">
                    <!--<img src="style/images/390/location_pin.png"/>
                    <span>221 S Montclair st, Bakersfield,</span>-->
                    <a data-role="button">221 S Montclair st, Bakersfield,</a>
                </p>
                <p class="add3">
                    CA 93309, USA
                </p>
            </div>
            <div class="edtscn">
                <p>
                   <a data-role="button" class="editBtn" href="views/editprofile.html">Edit Account</a> 
                </p>
                <p class="border">
                    &nbsp;
                </p>
                <p>
                    <a data-role="button" class="changePwdBtn" data-rel="modalview" href="#changePassword">Change Password</a> 
                </p>
            </div>
        </div>
    </div>
</div>

<!--Modal View for forgot password-->
<div data-role="modalview" id="changePassword" style="width:80%;" data-use-native-scrolling="false" data-model="app.accountService.viewModel" data-show="app.accountService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="navbar">
            <span>CHANGE PASSWORD</span>
        </div>
    </div>
    <div data-role="content" id="maincontent">
        <p> 
            <input type="password" name="changePwdold" id="changePwdold" data-bind="value:oldpwdTextFld" class="pwdTextFld" placeholder="Old Password"/>
        </p>
        <p> 
            <input type="password" name="changePwdnew" id="changePwdnew" data-bind="value:newpwdTextFld" class="pwdTextFld" placeholder="New Password"/>
        </p>
        <p>
            <a data-role="button" id="changePassordSubmit">Submit</a>
            <a data-role="button" data-click="cancelModalView">Cancel</a>
        </p>
    </div>
</div>

<script>
    function cancelModalView()
    {
        $('#changePassword').data('kendoMobileModalView').close();
        app.loginService.viewModel.blankForgotFld();
    }
</script>