<div data-role="view" id="productDetail" data-title="PRODUCT DETAIL"  data-use-native-scrolling="true" data-model="app.productService.viewModel" data-show="app.productService.viewModel.show" data-after-show="app.productService.viewModel.afterShow">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="button" data-align="left" data-rel="drawer" href="#drawerList" class="menu"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" data-badge="2" class="cart" data-click="app.shopService.viewModel.moveToCart"></a>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper" id="selectProdDtl">
           <!-- <div class="prod_image">
                <p>
                    <img src="style/images/390/product_img.png"/>
                </p>
            </div>
            <div class="mixCls">
                <div class="title">
                    <p>
                        Pure Canna Balm
                    </p>
                </div>
                <div class="price">
                    <p>
                        $30:00
                    </p>
                </div>
            </div>
            <div class="prodCont">
                <p>
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and i will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                </p>
            </div>
            <div class="fldDv">
                <div class="leftFldDv">
                    <p>
                        <label style="color:#6C6C6C;">Quantity</label>
                        <select class="dropdwn">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </p>
                </div>
                <div class="rightFldDv">
                    <p>
                        <label style="color:#6C6C6C;">Size</label>
                        <select class="dropdwn">
                            <option>100Mg</option>
                            <option>120Mg</option>
                            <option>130Mg</option>
                            <option>150Mg</option>
                            <option>180Mg</option>
                            <option>200Mg</option>
                        </select>
                    </p>
                </div>
            </div>-->
        </div>
    </div>
    <div class="footer" data-role="footer">
        <p>
            <a data-role="button" id="addcart">ADD TO CART</a>
        </p>
    </div>
</div>