<div data-role="view" id="shopView" data-title="SHOP"  data-use-native-scrolling="true" data-model="app.productService.viewModel" data-show="app.productService.viewModel.show" >
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
           <a data-role="button" data-align="left" data-rel="drawer" href="#drawerList" class="menu"></a>
            <span data-role="view-title"></span>
        </div>
    </div>
    <div data-role="content">
        <div class="wrapper">
           <div class="main">
                <div class="prodSrchDv">
                    <p class="productCategoryP">
                        <select class="dropDwn" id="productCategory">
                            <option>Product Categories</option>
                        </select>
                    </p>
                </div>
                <div class="listContentDV">
                   
                    <ul id="shopList" class="shopList">
                        
                    </ul>
                </div>
           </div>
        </div>
    </div>
</div>
