<div data-role="view" id="specialView" data-title="SPECIALS" data-use-native-scrolling="true" data-model="app.specialService.viewModel" data-show="app.specialService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar" class="nvbar">
            <a data-role="backbutton" data-align="left" class="back"></a>
            <a data-role="button" data-align="left" data-rel="drawer" href="#drawerList" class="menu"></a>
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" data-badge="2" class="cart" data-click="app.shopService.viewModel.moveToCart"></a>
        </div>
    </div>
    
    <div data-role="content">
        <div class="wrapper">
            <ul id="specialListData" data-role="listview" data-template="specialListView" data-bind="source:specialListSource"></ul>
        </div>
    </div>
</div>

<!--<script type="text/x-kendo-template" id="specialListView">
    <div class="main">
        <div class="leftDv">
            <p>
                #:data['title']#
            </p>
            <p>
                #:data['off_detail']#
            </p>
            <p>
                #:data['event']#
            </p>
            <p>
                #:data['valid_date']#
            </p>
        </div>
        <div class="rightDv">
            <p>
                <img src="#:data['prodImg']#"/>
                <img src="style/slideImage/label_icon.png" class="bonus"/>
            </p>
        </div>
    </div>
</script>-->

<script type="text/x-kendo-template" id="specialListView">
    <div class="main">
        <div class="leftDv">
           <img src="#:data['prodImg']#"/>
        </div>
        <div class="rightDv" style="background-color:#:data['bgColor']#">
            <p>
                #:data['title']#
            </p>
            <p>
                #:data['off_title']#
            </p>
            <p>
                #:data['off_detail']#
            </p>
            <p>
                <a data-role="button" class="shopArrow">Shop Now</a>
            </p>
        </div>
    </div>
</script>