
#aboutusView .km-content,#productDetail .km-content,#shopView .km-content,#myCart .km-content,#profileView .km-content,#privacy_policy .km-content,#specialView .km-content,#galleryView .km-content,#terms_cond .km-content,#privacy_policy .km-content {background-color:#fff !important}
#inviteFriend .km-content {background:url('./slideImage/invite_friend_bg.png') !important}
#check {display:none}

#drawerList .km-content {background:url('./images/sidebar_bg.png') no-repeat!important}
#drawerList ul li {width:100%;width: 100%;padding: 5px 0 0px 0;border: 1px solid #2F3617;border-top:0px;border-left:0px;border-right:0px}
#galleryView .wrapper .tab1View,#galleryView .wrapper .tab2View {display:none}

#aboutusView .km-state-active, #aboutusView .active{
      background-color: #ccc;
}


/*------------------------------------------------------------------------------------------------------------------*/
#shopView .km-content,#specialView .km-content,#pastOrderView .km-content,#myCart .km-content {background-color:#F3F3F1 !important}

.km-flat .km-loader:before {background:#FFF !important}
.km-flat .km-loader>*:not(h1) {background:#23A505 !important}
